<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="reset.css" />
    <style></style>
  </head>
  <body>
    <div id="app">
      <!-- html 코드는 id가 app인 태그안에서 작업 -->
       <div>
         <button @click="fnBack">뒤로가기</button>
       </div>
      <div>아이디 : <input type="text" v-model="userId" /></div>
      <div>비밀번호 : <input type="password" v-model="pwd" /></div>
      <div>
        <input type="button" value="로그인" @click="fnLogin" />
      </div>
      <div>
        <a href="join.html">회원가입</a>
      </div>
    </div>
  </body>
</html>

<script>
  const app = Vue.createApp({
    data() {
      return {
        // 변수 - (key : value)
        userId: "",
        pwd: "",
        info: {},
      };
    },
    methods: {
      // 함수(메소드) - (key : function())
      fnLogin: function () {
        let self = this;
        let param = {
          userId: self.userId,
          password: self.pwd,
        };
        $.ajax({
          url: "http://localhost:3009/login",
          dataType: "json",
          type: "GET",
          data: param,
          success: function (data) {
            self.info = data.info[0];
            sessionStorage.setItem("name", self.info.NAME);
            sessionStorage.setItem("athority", self.info.ATHORITY);
            sessionStorage.setItem("userId", self.info.USERID);
            if ((data.info[0] = "")) {
              alert("아이디 또는 비밀번호가 잘못되었습니다");
            }
            alert("로그인성공!");
            location.href = "main.html";
          },
        });
      },
      fnBack(){
        window.history.back();
      }
    }, // methods
    mounted() {
      // 처음 시작할 때 실행되는 부분
      let self = this;
    },
  });

  app.mount("#app");
</script>

